.split {
    display: flex;
    justify-content: space-around;
}

.one {
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
}

.btn-box {
    text-align: center;
    margin: 40px;
}

.dwld-upd {
    color: #63666a;
    background: #aeaeae;
    font-family: 'Segoe UI, sans-serif; border-radius: 3p';

    transition: background 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, opacity 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-family: "Segoe UI", sans-serif;
    text-transform: uppercase;
    border-radius: 4px;
    padding: 15px 22px;
    vertical-align: center;
    cursor: not-allowed;
}

.active {
    background: #f6f42e;
    cursor: pointer;
}

.icon svg {
    height: 20px;
    width: 20px;
    vertical-align: top;
    text-align: top;
}

.active:hover {
    box-shadow: 0px 4px 32px rgba(246, 244, 46, 0.5);
}












.shk-box {
    background-color: #fff;
    padding: 6px;
    border-radius: 4px;
}

.info {
    padding: 6px;
    position: relative;
    top: 35px;
    left: 2px;
}

.size {
    display: block;
    max-width: 155px;
}


body {
    background-color: #2d2d2d;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}


.main {
    max-width: 960px;
    margin: 0 auto;
}

.modal {
    padding: 50px;
    position: fixed;
    top: 50%;
    left: 10%;
    backdrop-filter: blur(2px);
    background: transparent;
    border: solid 1px #fff;
    border-radius: 10px;
}

textarea {
    background-color: #2d2d2d;
    color: #fff;
    width: 100%;
    min-height: 100%;
}